<div class="modal-header">
  <h4 class="modal-title">{{title}} Material</h4>
  <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title" (click)="activeModal.dismiss()">
    <span aria-hidden="true">x</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="frmMaterial">
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Nombre del Material</label>
      <div class="col-sm-9">
        <input type="text" formControlName="mateName" class="form-control" placeholder="Ingrese Nombre del Material">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Descripción</label>
      <div class="col-sm-9">
        <input type="text" formControlName="mateDescri" class="form-control" placeholder="Ingrese link Material">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Taller</label>
      <div class="col-sm-9">
        <select class="form-control" formControlName="tallId">
          <option *ngFor="let material of talleres" [value]="material.tallId">
            {{material.tallTema}}
          </option>
        </select>
      </div>
    </div>

  </form>
</div>
<div class="modal-footer">
  <button type="button" [disabled]="frmMaterial.invalid" *ngIf="title=='Nuevo'" class="btn btn-primary" (click)="save()">Guardar</button>
  <button type="button" [disabled]="frmMaterial.invalid" *ngIf="title=='Modificar'" class="btn btn-primary" (click)="update()">Guardar</button>
  <button type="button" class="btn btn-outline-secondary" (click)="activeModal.dismiss('Cancel')">Cancelar</button>
</div>
