<div class="modal-header">
  <h4 class="modal-title">{{title}} Persona</h4>
  <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title" (click)="activeModal.dismiss()">
    <span aria-hidden="true">x</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="frmAsistencia">
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Estado</label>
      <div class="col-sm-9">
        <input type="text" formControlName="asisEsta" class="form-control" placeholder="Ingrese Estado">
      </div>
    </div>



    <div class="col-sm-9">
      <select class="form-control" formControlName="persona">
        <option *ngFor="let tipopersona of tipoPersonas" [value]="tipopersona.peId">
          {{tipopersona.tipePersona}}</option>
      </select>
    </div>

    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Taller</label>
      <div class="col-sm-9">
        <select class="form-control" formControlName="tallId">
          <option *ngFor="let taller of talleres" [value]="taller.tallId">
            {{taller.tallTema}}
          </option>
        </select>
      </div>
    </div>

  </form>
</div>
<div class="modal-footer">
  <button type="button" [disabled]="frmAsistencia.invalid" *ngIf="title =='Nuevo'" class="btn btn-primary" (click)="save()">Guardar</button>
  <button type="button" [disabled]="frmAsistencia.invalid" *ngIf="title =='Modificar'" class="btn btn-primary" (click)="update()">Modificar</button>
  <button type="button" class="btn btn-outline-secondary" (click)="activeModal.dismiss()">Cancelar</button>
</div>
