<button type="button" (click)="openModal()" class="float-right btn btn-primary mb-2">Nuevo</button>
<div class="table-responsive">
  <table class="table table-striped table-bordered ">
    <thead>
    <tr>
      <th>#</th>
      <th>Descripción del Material</th>
      <th>Nombre del Material</th>
      <th colspan="2" class="text-center">Opciones</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let materiales of materiales">
      <td>{{materiales.progId}}</td>
      <td>{{materiales.mateDescri}}</td>
      <td>{{materiales.mateName}}</td>
      <td class="text-center">
        <button type="button" class="btn btn-sm btn-warning" (click)="openModalEdit(materiales)">Editar
        </button>
      </td>
      <td class="text-center">
        <button type="button" class="btn btn-sm btn-danger" (click)="onDelete(materiales)">Eliminar
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
