<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
  <img class="navbar-brand" src="../../../assets/img/freelogo.png"
       style="width: 120px;" alt="logo">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
          <strong>Actividades</strong>
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="/admin/actividades/personas">Personas</a>
          <a class="dropdown-item" routerLink="/admin/actividades/programas">Programas</a>
          <a class="dropdown-item" routerLink="/admin/actividades/talleres">Talleres</a>
          <a class="dropdown-item" routerLink="/admin/actividades/materiales">Materiales</a>
          <a class="dropdown-item" routerLink="/admin/actividades/tipopersonas">Cargo</a>

        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/actividades/asistencias"><strong>Asistencia</strong></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit"
              routerLink="/">Salir</button>
    </form>
  </div>
</nav>
