<header id="top-header" class="header-home">
  <div class="grid" >
    <div class="col 0 0" >
      <div class="content" >
        <img src="../../../assets/img/freelogo.png" width="110px" height="50px" alt="">

        <nav class="navigation">
          <input type="checkbox" id="nav-button">
          <ul class="nav-container">
            <li><a style="color: #000000;" href="#services"><b>¿Quienes Somos?</b></a></li>
            <li><a style="color: #000000;" href="#blog"><b>Talleres</b></a></li>
            <li><a style="color: #000000;" href="#team"><b>Equipo de Trabajo</b></a></li>
            <li><a style="color: #000000;" href=""><b>Iniciar Sesión</b></a></li>
          </ul>
        </nav>
      </div>

    </div>
  </div>
</header>

<!-- Parallax Section -->
<div class="parallax-section parallax1">
  <div class="grid grid-pad">
    <div class="col-1-1">
      <div class="content content-header">
        <h2>FreeDom - Ayllu Sinchi</h2>
        <p>FreeDom es una pagina web que ayuda en desarrollo de talleres que la Universidad Peruana Unión está llevando a cabo con la comunidad de quinta Elena.</p>

      </div>
    </div>
  </div>
</div>

<svg class="curveUpColor" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
  <path d="M0 100 C 20 0 50 0 100 100 Z"></path>
</svg>

<!-- Services Section -->
<div class="wrap services-wrap" id="services">

  <section class="grid grid-pad services px-4 px-lg-5">

    <h2> - Conócenos -</h2>

    <div class="row">
      <div class="col-lg service-box service-1 center" >
        <div class="service-icon">
          <i class="circle-icon "><img  src="/../../assets/img/heart.svg" alt="Bootstrap" width="50" height="50"></i>
        </div>
        <div class="service-entry">
          <h3>Nuestra Visión</h3>
          <p>Nuestra Visión con grupo "FreeDom" es tener exito en los trabajos, siempre influir a las masas de buenas maneras con nuestros trabajos y apoyar a los que más lo necesitan.</p>
        </div>
      </div>

      <div class="col-lg service-box service-2" >
        <div class="content">
          <div class="service-icon">
            <i class="circle-icon"><img src="/../../assets/img/star.svg" alt="Bootstrap" width="50" height="50"></i>
          </div>
          <div class="service-entry">
            <h3>Nuestra Misión</h3>
            <p>Nuestra Misión como grupo "FreeDom" es que podamos ser una compañia de exito, realizados a los valores cristianos y siempre dar lo mejor en cada trabajo encargado.</p>

          </div>
        </div>
      </div>
      <div class="col-lg service-box service-3">
        <div class="content">
          <div class="service-icon">
            <i class="circle-icon"><img src="/../../assets/img/book-half.svg" alt="Bootstrap" width="50" height="50"></i>
          </div>
          <div class="service-entry">
            <h3>Valores</h3>
            <div class="center">
              <p> -SOLIDARIDAD</p>
              <p> -TOLERANCIA</p>
              <p> -CONFIANZA</p>
              <p> -HUMILDAD</p>
              <p> -EMPATÍA</p>
            </div>
          </div>
        </div>
      </div>
    <div class="col-lg service-box service-4" >
      <div class="content">
        <div class="service-icon">
          <i class="circle-icon"><img src="/../../assets/img/happy.svg" alt="Bootstrap" width="50" height="50"></i>
        </div>
        <div class="service-entry">
          <h3>Motivación</h3>
          <p>"El Señor va delante de ti. Él estará contigo, y no te dejará ni te desamparará. No temas ni te intimides» (Dt 31:8).</p>

        </div>
      </div>
    </div>
    </div>
  </section>
</div>
<!-- End Services Section -->


<!-- CurveDown -->
<svg class="curveDownColor" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
  <path d="M0 0 C 50 100 80 100 100 0 Z"></path>
</svg>
<!-- CurveUp -->
<svg class="curveUpColor" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
  <path d="M0 100 C 20 0 50 0 100 100 Z"></path>
</svg>

<!-- CurveDown -->
<svg class="curveDownColor" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
  <path d="M0 0 C 50 100 80 100 100 0 Z"></path>
</svg>


<!-- Blog Section -->
<div class="wrap blog-grid grey" id="blog">
  <div class="grid grid-pad px-4 px-lg-5">
    <div class="content" >
      <h2> - Talleres Actuales -</h2>
      <div class="row ">
      <div class="col-lg" >
        <article class="post-wrap">
          <div class="post-img">
            <a href="#0"><img src="../../../assets/img/post/post-n1.jpg" alt=""></a>
          </div>
          <div class="post">
            <h2 class="entry-title"><a href="#0">Nombre Talleres</a></h2>
            <div class="post-meta">
              <a href="#0">15 Januar, 2015</a> <span class="mid-sep">·</span> <a href="#0">Graphic Design</a>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, sequi, quas, assumenda harum nam reiciendis obcaecati maxime <a href="#0">suscipit</a> quibusdam.
            </p>
          </div>
        </article>
      </div>
      <div class="col-lg" >
        <article class="post-wrap">
          <div class="post-img">
            <a href="#0"><img src="../../../assets/img/post/post-n2.jpg" alt=""></a>
          </div>
          <div class="post">
            <h2 class="entry-title"><a href="#0">Nombre Talleres</a></h2>
            <div class="post-meta">
              <a href="#0">2 Februar, 2014</a> <span class="mid-sep">·</span> <a href="#0">Photography</a>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, sequi, quas, assumenda harum nam reiciendis obcaecati maxime <a href="#0">suscipit</a> quibusdam.
            </p>
          </div>
        </article>
      </div>
      <div class="col-lg" >
        <article class="post-wrap">
          <div class="post-img">
            <a href="#0"><img src="../../../assets/img/post/post-n3.jpg" alt=""></a>
          </div>
          <div class="post">
            <h2 class="entry-title"><a href="#0">Nombre Talleres</a></h2>
            <div class="post-meta">
              <a href="#0">26 March, 2014</a> <span class="mid-sep">·</span> <a href="#0">Graphic Design</a>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, sequi, quas, assumenda harum nam reiciendis obcaecati maxime <a href="#0">suscipit</a> quibusdam.
            </p>
          </div>
        </article>
      </div>
      <div class="col-lg" >
        <article class="post-wrap">
          <div class="post-img">
            <a href="#0"><img src="../../../assets/img/post/post-n4.jpg" alt=""></a>
          </div>
          <div class="post">
            <h2 class="entry-title"><a href="#0">NOMBRE TALLERES</a></h2>
            <div class="post-meta">
              <a href="#0">19 June, 2014</a> <span class="mid-sep">·</span> <a href="#0">Graphic Design</a>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, sequi, quas, assumenda harum nam reiciendis obcaecati maxime <a href="#0">suscipit</a> quibusdam.
            </p>
          </div>
        </article>
      </div>
      </div>
    </div>
  </div>
</div>
<!-- End Blog Section -->


<!-- Team Section -->
<div class="wrap team-wrap grey" id="team">
  <div class="grid grid-pad">
    <div class="content" >
      <h2> - Nuestro equipo de Trabajo -</h2>
<div class="row">
      <div class="col-lg" >
        <div class="team-member">
              <img class="mx-auto rounded-square" width="160" height="200" src="../../../assets/img/team/user1.jpeg" alt="">
              <div class="team-social">
                <a class="sl-tw" href="https://www.instagram.com/zambranogamer_gg/" target="_blank"><i class="icon-instagram"></i></a>
              </div>
            <div class="work-info staff-info">
              <h5>Pedro  Zambrano </h5>
              <span>“Yo oí la voz del Señor que decía: «¿A quién enviaré y quién irá por nosotros?». Yo respondí: «¡Aquí estoy: envíame!»". (Is 6,8)</span>
            </div>
        </div>
      </div>
      <div class="col-lg" >
        <div class="team-member">
              <img class="mx-auto rounded-square" width="160" height="200" src="../../../assets/img/team/user2.jpeg" alt="">
              <div class="team-social">
                <a class="sl-tw" href="https://www.instagram.com/dapcito/" target="_blank"><i class="icon-instagram"></i></a>
              </div>
            <div class="work-info staff-info">
              <h5>Jorge  del Aguila </h5>
              <span>“Irás adondequiera que te envíe, y proclamarás todo lo que yo te mande. No les tengas miedo, porque estaré contigo para protegerte”. (Jer 1,7)</span>
            </div>
        </div>

      </div>
      <div class="col-lg" >
          <div class="team-member">
              <img class="mx-auto rounded-square" width="160" height="200" src="../../../assets/img/team/user3.jpeg" alt="">
              <div class="team-social">
                <a class="sl-tw" href="https://www.instagram.com/allirouss_/" target="_blank"><i class="icon-instagram"></i></a>
              </div>
            <div class="work-info staff-info">
              <h5>Allisson  Torres </h5>
              <span>"Vayan por todo el mundo y anuncien la Buena Nueva a toda la creación”. (Mc 16,15)</span>
            </div>
        </div>
      </div>
      <div class="col-lg" >
        <div class="team-member">
              <img class="mx-auto rounded-square" width="160" height="200" src="../../../assets/img/team/user4.jpeg" >
              <div class="team-social">
                <a class="sl-tw" href="https://www.instagram.com/patricktorres_1234/" target="_blank"><i class="icon-instagram"></i></a>
              </div>
            <div class="work-info staff-info">
              <h5>Patrick Torres</h5>
              <span>"Y la Palabra se hizo carne y habitó entre nosotros, y contemplamos su gloria, como la gloria del unigénito del Padre lleno de gracia y de verdad" (Jn 1:14).</span>
            </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
<!-- End Team Section -->
<footer class="wrap">
  <div class="social-footer" >
    <div class="grid grid-pad">
      <div class="col-1-1" >
        <div class="content">
          <p class="source-org copyright">© 2022 | Todos los derechos reservados Creado por <a href="http://templatestock.co">FreeDom </a></p>
        </div>
      </div>
    </div>
  </div>
</footer>
