<mat-card>
  <mat-action-list>
    <button routerLink = "/admin" mat-list-item>
      <strong>Inicio</strong>
    </button>

    <button mat-list-item routerLink = "/admin/actividades/personas"><strong>Personas</strong>
    </button>
    <button mat-list-item routerLink = "/admin/actividades/programas"><strong>Programas</strong>
    </button>
    <button mat-list-item routerLink = "/admin/actividades/talleres"><strong>Talleres</strong>
    </button>
    <button mat-list-item routerLink = "/admin/actividades/materiales"><strong>Materiales</strong>
    </button>
    <button mat-list-item routerLink = "/admin/actividades/tipopersonas"><strong>Cargo</strong>
    </button>
    <button mat-list-item routerLink = "/admin/actividades/asistencias"><strong>Asistencias</strong>
    </button>
    <button mat-list-item routerLink = "/">
      <strong>Salir</strong>
    </button>
  </mat-action-list>
</mat-card>




