<mat-card>
  <mat-action-list>
    <button routerLink = "/admin" mat-list-item>
       Inicio
    </button>

    <button mat-list-item routerLink = "/admin/actividades/personas">Programas
    </button>
    <button mat-list-item routerLink = "/admin/actividades/programas">
      Talleres
    </button>
    <button mat-list-item routerLink = "/admin/actividades/talleres">
      Materiales
    </button>

    <button mat-list-item routerLink = "/admin/actividades/materiales">
      Personas
    </button>
    <button mat-list-item routerLink = "/admin/actividades/tipopersonas">
      Carreras
    </button>
    <button mat-list-item routerLink = "/admin/actividades/asistencias">
      Asistencias
    </button>
    <button mat-list-item routerLink = "/">
      Salir
    </button>
  </mat-action-list>
</mat-card>




